/* fonts */
@font-face {
  font-family: 'CaviarDreams';
  src: url('../fonts/CaviarDreams.eot');
  src: url('../fonts/CaviarDreams.woff2') format('woff2'),
       url('../fonts/CaviarDreams.woff') format('woff'),
       url('../fonts/CaviarDreams.ttf') format('truetype'),
       url('../fonts/CaviarDreams.svg#EnchantingCelebrations') format('svg'),
       url('../fonts/CaviarDreams.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

header {
  display: block;
  width: 100%;
  /* padding: 10px; */
  /* padding-left: 2%; */
  /* padding-right: 2%; */
}

.tel-size
{
  width: 15px;
  height: auto;
}

hr
{
    border-top: 1px solid #8080805c;
}

h1
{
  font-family: CaviarDreams !important;
}

body
{
  font-family: CaviarDreams;
  font-size: 16px;
}

#logotipo {
  float: left;
  width: 240px;
  display: inline-block;
  margin-left: -21;
}

.menu{
  float: right;
  font-size: 18px;
}
.menu ul{
 padding: 0;
text-align: left;
}


.menu  li
{
  display:inline-block;
  margin-right: 43px;
}

.carusel{
  height: 300px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  background: #040303;
}

.slick-slide {
    width: 100%;
    height: auto;
    /* background: white; */
}

/* Icon 1 */
.nav
{
  margin-top: 20px;
}

.footer-map
{
  min-height: 559px;
  background:url('http://queleparece.com/ecolegal/wp-content/uploads/2018/09/dsd.jpg');
  background-size: cover;
}

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 36px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  float: right;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 18px;
}

#nav-icon1 span:nth-child(3) {
  top: 36px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 2 */

#nav-icon2 {
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 50%;
  background: #d3531a;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 12px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 25px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 15px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 15px;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */

#nav-icon4 {
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

.search-form{
  line-height: initial;
  float: right;
}

/* Is flex  */

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand.
* Use a preprocesser with autoprefixing.
*/
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

/* Is flex */

.search {
  position: absolute;
  background: rgba(158, 11, 15, 0.74);
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  color: white;
  width: 90%;
  line-height: initial;
  height: 320px;
  display: none;
  filter: saturate(83%);
}

.top-bar {
  float: right;
  padding-top: 23px;
  line-height: initial;
  width: 100%;
  text-align: right;
  margin-bottom: 13px;
  padding-right: 55px;
}

.top-bar li
{
  display: inline-block; margin-right: 10px;
}

.top-bar li a
{
  color:white;
}
/*header */

.menu-menu-1-container ul li a
{
  color: white;
  text-decoration:none;
}

.menu-menu-1-container ul li a:hover {
  color: #DE933E;
  text-decoration: underline;
}

.menu-menu-1-container ul li a:active {
  color: #DE933E;
}

a:hover
{
  text-decoration:none;
}

.txt-center
{
  text-align: center;
}

.text-justify
{
  text-align: justify;
}

.txt-right
{
  text-align: left;
}

.text-white
{
  color:white;
}

.text-gray
{
  color: #8E8E8E;
}

.text-black
{
  color: black;
}

.form-border
{
  border: none;
  padding: 4;
  width: 60%;
  outline: none;
  border-radius: 3px;
}

.img-size
{
  width: 100%;
  height: 150px;
}

.the-content
{
  font-size:14px;
  text-align: justify;
  color:#858587;
}

.buttom-right
{
 align: right;
}

.main-font-color
{
  color: #DE933E;
}

.main-menu{
  float: left;
  width: 100%;
  height: 65px;
  line-height: 75px;
  padding: 0 1%;
  background-color: #04030396;
}

.page-padding
{
  padding: 20px;
}

.page-padding-bottom
{
  padding-bottom: 20px;
}
/*Servicios*/


.prev-servicio
{
  color: black;
  font-size: 14px;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  position: absolute;
  left: 25;
  bottom: -44px;
}

.next-servicio {
    color: black;
    font-size: 14px;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    position: absolute;
    right: 25;
    bottom: -44px;
}

.servicios-margin
{
  margin-right: auto;
  margin-left: auto;
}

.a-buttom-style:link
{
color: white;
text-decoration:none;
}

.a-buttom-style:hover {
    color: white;
    text-decoration:none;
}

.a-buttom-style:active {
    color: white;
    text-decoration:none;

}

.a-buttom-style:visited
{
  color: white;
}

.img-responsive{
  outline: none !important;
}

.colorhr
{
  border-top: 1px solid #000 !important;
}

.img-center
{
  display: block;
  margin: 0 auto;
}

.title-upper
{
  text-transform: uppercase;
}

.buttom-option
{
  color: #ffffff;
  text-decoration: none;
  background-color: #DE933E;
  padding: 6;
  border: none;
}

.img-size-servicio
{
  height: 200px;
  width: 200px;
}

.slick-slider .single-item-background
{
    background: #F1F0EF !important;
}

.single-item button.slick-prev:before
{
  color: #827c7c !important;
}

.single-item button.slick-next:before
{
  color: #827c7c !important;
}

.content-font-servicios
{
  /* padding-left: 20%;
  padding-right: 20%; */
  font-size: 14px;
}

.content-padding-servicios
{
  padding-left: 10%;
  padding-right: 10%;
}

/* Quienes somos */

a:link
{
color: #DE933E;
text-decoration:none !important;
}

a:hover
{
    color: #DE933E;
    text-decoration:none;
}

a:active
{
    color: #DE933E;
    text-decoration:none;
}

a:visited
{
  color: #DE933E;
}

.img-size-equipo
{
  width: 392px;
  height: 393px;
}

.img-size-equipo-1
{
  width: 270px;
  height: 270px;
}

.flag-display
{
  display: flex;
}

.container-background
{
  color: white;
  background-color: #DE933E;
  text-align: center;
  /* padding: 20px; */
}

/* Contactos */
.contact-style
{
  width: initial;
  height: auto;
}

.background-consultas
{
  background-image: url("http://queleparece.com/ecolegal/wp-content/uploads/2018/08/rt-10-copia2.jpg");
  /* min-height: 595px; */
  background-size: cover;

}

.background-consultas-imagen-muestra
{
  background-image: url("http://queleparece.com/ecolegal/wp-content/uploads/2018/08/rt-10-copia1.jpg");
  /* min-height: 595px; */
  background-size: cover;
}

.consultas-min-height
{
  min-height: 47%;
}

.background-gray-dark
{
  background: gray;
}

/* Contactos */

.rounded {
  border: solid 2px;
  display: inline-block;
  width: 27px;
  height: 27px;
  border-radius: 27px;
  text-align: center;
  padding-top: 4px;
}

.break
{
  margin-top: 25px;
}
/* Noticias - Publicaciones */

.background-noticia
{
    background: #F0F0F0;
}

.date-form
{
  height: 129px;
  background: #DE933E;
  color: white;
}

.subtitle-color
{
    font-size: 14px;
    color: black;
}

.min-height-articulos-noticias
{
  min-height:815px;
}

.padding-articulos-noticias
{
  padding-left: 20px;
  padding-right: 20px;
}

.content-articulos-noticias a
{
  display: inline-block;
}

.content-articulos-noticias a svg
{
  display: inline-block;
  margin-right: 15px;
  margin-top: 20px;
}

.row-no-margin
{
  margin-right: 15px;
  margin-left: 15px;
}

.publicacion-img-width
{
  width: 100%;
  height: 37%;
}

.publicacion-img-height
{
  height: 129px;
}

.padding-bottom-noticias
{
  padding-bottom: 10px;
}

.slick-slide.slick-active a:active
{
     outline: none !important;
}

.slick-slide.slick-active a:visited
{
     outline: none !important;
}

.slick-slide.slick-active a:link
{
  outline: none !important;
}


/* footer */
.background-contact
{
  background-image: url("http://queleparece.com/ecolegal/wp-content/uploads/2018/08/40578b9ac2478c0.jpg");
  /* min-height: 500px; */
  background-size: cover;
  height: 543px;
  position: relative;
}

.footer-background-contact
{
  color: white;
  background-color: #DE933E;
    /* text-align: center; */
  min-height: 533px;
  background-size: cover;
}

.footer-contact-height
{
  height:442px;
}

.layer
{
  background-color: rgba(8, 8, 8, 0.48);
  top: 0;
  left: 0;
  /* width: 100%; */
  /* height: 100%; */
  /* margin-left: -15;
  margin-right: -15; */
  height: 100%;
}

.icon-text
{
  color: white;
  font-size: 18px;
  margin-bottom: 1em;
  padding-left: 1em;
}

.icon-size
{
  width: 27px;
  height: 27px;
}

.flag-size
{
  width: 25px;
  height: 25px;
}

.pixel-size
{
  font-size: 12px;
}

.icon-size-pixel
{
  height: 27px;
  padding-left: 12px;
}

.margin-info
{
  margin-bottom: 45px;

}

.padding-left-info
{
  padding-left: 24%;
}

.pixel-section
{
  background:#000000fa;
  padding:9;
  height:51px;
}

.social-media
{
  background: #1c1c1ceb;
  height:40px;
  padding: 6;
}

/* Quienes somos */
.no-padding
{
  padding: 0px;
}

.img-quienes-somos
{
    min-height: 190px;
}

.background-gray
{
 background: #F0F0F0;
 color: #8E8E8E;
}

.img-quienessomos
{
  /* min-height: 500px; */
  background-size: cover;
  width: 100%;
  /* height: 500px; */
}

.background-valores
{
  background-image: url("http://queleparece.com/ecolegal/wp-content/uploads/2018/08/rt-89.jpg");
  min-height: 250px;
  background-size: cover;
}

.ul-line
{
 list-style-type: none;
 padding:65px;
 /* margin-left:11%; */

}

.li-line
{
  /* float: left; */
  /* margin-left: 10%; */
  display: inline-flex;
  /* padding-bottom:50px; */
  /* padding: 65px; */
  width: 19%;
}

.padding-pais
{
  padding-left: 10px;
}

/* Nuestros clientes */

.brand-size
{
  max-width: 200;
  height: auto;
}

.ul-line-display
{
  display: inline-flex;
}

.li-line-arrows
{
  background: #DE933E;
  padding-left: 4px;
  padding-right: 4px;
  width: 52px;
  margin: 1;
  list-style-type: none;
  text-align: center;
  font-size: 16;
  color: white;
  cursor: pointer;
}

.img-client-margin
{
  width: 20%;
}

.pagination-icon
{
  color: #DE933E;
}

.container-slick
{
  margin: 0 auto;
  padding: 40px;
  color: #333;
  background: white;
}

.item-clientes
{
  text-align: center;
  background: white;
}

.item-content-logo
{
  height: auto;
  width: auto !important;
  padding: 23px;
  background-color: white;
  background: white !important;
}

.item-content-logo a
{
  outline: none !important;
}

/* Nuestros miembros */

.miembros-padding
{
  padding-right: 5%;
  padding-left: 5%;
  padding-top:20px;
  padding-bottom:20px;
  min-height: 500px;
}

.miembros-title
{
  color:black !important;
}

/* .slick-slider .item-miembros-background
{
    background: #F1F0EF !important;
} */

.item-miembros .slick-slide
{
  background: #F1F0EF !important;
}

.item-miembros button.slick-prev:before
{
  color: #827c7c !important;
}

.item-miembros button.slick-next:before
{
  color: #827c7c !important;
}

/* ------------------------------------------------ */

.container-1 {
  margin: 0 auto;
  padding: 40px;
  color: #333;
  background: #F0F0F0;
  height: 700px;
}

.container-1-miembros
{
  margin: 0 auto;
  color: #333;
}

.slick-slide {
  text-align: center;
  color: #8E8E8E;;
  background: #fff !important;
  outline: none !important;
}

.slick-dots
{
  pointer-events: none;
  margin-left: 16px;
}

.slick-dots a
{
  color: black;
}

.slick-active a
{
  color: #DE933E;
  font-size: 18;
}

.display-content-block
{
  display: inline-block;
}

/* ------------------------------------------------ */
.custome-arrows
{
  display: inline-flex;
}

.prev
{
  color: black;
  font-size: 14px;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  position: absolute;
  left: 25;
  bottom: 50px;
}

.next
{
  color: black;
  font-size: 14px;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  position: absolute;
  right: 25;
  bottom: 50px;
}

.header-miembro
{
  padding-left: 10px;
  color: white;
  background-color: #DE933E;
  text-align: left;
}

.img-miembro
{
  width: 100%;
  height: auto;
}

.miembro-content ul
{
  list-style: none;
  padding-inline-start: 18px;
}

.miembro-content li::before
{
  content: "▪";
  color: #DE933E;
  margin-left: -1em;
  font-size: 18px;
}

/* Contactos */
div.wpcf7-response-output
{
  margin: 0 !important;
  padding: 0.2em 1em;
  border: 2px solid #ff0000;
  padding-left: 30% !important;
}

div.wpcf7-response-output
{
  /* margin: 2em 0.5em 1em; */
  padding: 0.2em 1em;
  /* border: 2px solid #ff0000; */
  color: #DE933E !important;
  border: none !important;
}

span.wpcf7-not-valid-tip
{
  color: #DE933E !important;
}

/* Links */

.link-arrows.custome-arrows li.prev
{
  position: absolute;
  bottom: 280px;
}

.link-arrows.custome-arrows li.next
{
  bottom: 280px;
}

.miembro-info
{
  background: #DE933E;
  padding: 10px;
  color: white;
}

.miembro-info a
{
  color: white;
}

.miembro-info img
{
  width: 21px;
  height: 21px;
  margin-right: 5px;
}


/* Noticias-articulos -- Noticia-articulo */
.slick-slide.slick-active a:active
{
  color: white;
}

/* CUSTOM RADIO & CHECKBOXES
   http://stackoverflow.com/a/17541916/383904 */
.rad,
.ckb{
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.rad {
  display: inline-block;
  width: 33%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.rad > input,
.ckb > input{ /* HIDE ORG RADIO & CHECKBOX */
  visibility: hidden;
  position: absolute;
}

.rad img{
width: 60px;
transition: all .5s ease;
}
.rad > input:checked + img{

transform: scale(1.2);
transition: all .5s ease;
}


.search h3{
  font-size: 14px;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 10px;
  height: 40px;
}


.search h3.active{
  border-bottom: solid;
}
