
@media (max-width: 768px) {
  .menu {
    top: 0;
    float: right;

    /* background: #04030396; */
    z-index: 9;
    position: relative;
    width: 100%;
    left: 0;
    padding: 0;
    line-height: initial;
    display: none;
    background: #040303de;
}


  .menu li {
  display: inline-block;
  margin-right: 13px;
  width: 100%;
  line-height: 50px;
  border-bottom: solid 1px #80808030;
  padding: 10px;
}
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
{
  body
  {
    font-size: 12px;
  }
  .the-content
  {
    font-size: 12px;
  }
  .menu
  {
    font-size: 14px;
  }

  h2
  {
    font-size: 22px;
  }

  h4
  {
    font-size: 16px;
  }

  .subtitle-color
  {
    font-size: 12px;
  }

  .icon-text
  {
    font-size: 12px
  }

  .padding-bottom-noticias
  {
    padding-bottom: 0px;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
{

.ul-line
{
  display: inline-grid;
      padding: 0px;
}

 .li-line
 {
    width: 100%;
    margin-bottom: 50px;
    padding-top: 31px;
 }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
{
  .margin-info
  {
    margin-bottom: 27px;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
{

  .top-bar
  {
    padding-right: 0px;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
{

  .padding-left-info
  {
    padding-left: 12px;
  }
}


@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
{

  .item-content-logo
  {
    padding: 9px;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
{

  .container-no-padding
  {
    padding-right: 0px;
    padding-left: 0px;
  }
}

/* Servicios */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
{

  .content-padding-servicios
  {
    padding-left: 0%;
    padding-right: 0%;
  }

  .container-1
  {
    padding: 32px;
  }

  li.arrows-servicio.prev
  {
    /* padding-bottom: 128%; */
    left: 11px;
  }

  li.arrows-servicio.next
  {
    /* padding-bottom: 128%; */
    right: 11px;
  }

  .prev-servicio{
    bottom: -450px;
  }

  .next-servicio
  {
    bottom: -450px;
  }

  .container-1
  {
    height: 580px;
  }

  .prev
  {
    bottom: -513px;
  }

  .next
  {
    bottom: -513px;
  }
}

/* footer 2 */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
{
  .footer-background-contact
  {
    min-height: 0px;
  }

  .footer-contact-height
  {
    height: 325px;
  }

  .padding-bottom
  {
    padding-bottom: 0px !important;
  }
}


/* Links */

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
{
  .link-arrows.custome-arrows li.prev
  {
      position: absolute;
      bottom: 250px;
  }

  .link-arrows.custome-arrows li.next
  {
    bottom: 250px;
  }
}
